body {
    margin: auto;
    font-family: roboto, Arial, Helvetica, sans-serif;
    max-width: 1400px;
}

body > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: thistle;
    padding: 1% 5% 1% 5%;
    margin: auto;
    border-bottom: 5px solid darkcyan;
}

body > header > p {
    color: white;

}

body > header > nav > ul {
    list-style: none;
    display: flex;
}

body > header > nav > ul > li > a {
    color: white;
    text-decoration: none;
    justify-content: space-evenly;
    padding: 10px;
}

body > header > nav > ul > li > a:hover {
    color: darkcyan;
}

#hero{
    display: block;
    height: 400px;
    background: url(https://www.placebear.com/1400/700);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#herocontent {
    text-align: center;
}

body > main > section > div > hgroup {
    color: white;
    margin: auto;
    padding-top: 10%;
    position: relative;
}

body > main > section > div > a {
    text-decoration: none;
    color: white;
    border: 4px solid white;
    padding: 2px 4px;
}

body > main > section > div > a:hover {
    text-decoration: none;
    color: thistle;
    border: 4px solid thistle;
    padding: 2px 4px;
}

main h2 {
    color: darkcyan;
    max-width: 1100px;
    margin: auto;
    padding: 30px 10px 15px 10px;
    text-align: center;
}

main h2:hover {
    color: thistle;
}


#latestworkgrid {
    display: block;
    margin: auto;
}

#latestWorkHead {

    grid-area: latestWorkHead;
}

#latestWorkHead:hover {
    color: thistle;
}


#latestWorkImages {
    display: flex;
    grid-area: latestWorkHead;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    border: 1px solid transparent;
    padding: 10px 20px 30px 20px;
    flex-wrap: wrap;
}

.lwimage {
    padding: 0px 15px 0px 15px;
}

  h4 {
      float: left;
  }

  #about {
      display: block;
      background-color: thistle;
      height: 250px;
  }

  #about h2:hover {
      color: darkcyan;
  }

  #about h2 {
      color: white;
      text-align: center;
  }

  #about p {
text-align: left;
max-width: 500px;
margin: auto;
color: rgb(50, 50, 50);
  }

/* #servicesgrid {
    padding-bottom: 100px;
} */

  #servicesImages {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 900px;
      margin: auto;
      border: 1px solid transparent;
      padding: 10px 20px 30px 20px;
      flex-wrap: wrap;
  }

  .service {
      display: block;
      padding-bottom: 0px 0px 20px 0px;
      max-width: 250px
  }

  #servicesGrid h3 {
      margin: 0;
      padding-top: 5px;
      color: thistle;
  }

  #servicesGrid h3:hover {
      color: darkcyan;
  }

  #servicesGrid p {
      color: rgb(50, 50, 50);
      padding-bottom: 30px;
  }

  #footer-container {
    margin: 0;
    display: grid; 
    background-color: thistle;
    grid-template-areas:
    "sitemap contact"
    "files contact"
    "rights rights";
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: left;
    padding: 0px 30px 0px 30px;

  }

  Footer > div > section > nav > ul > li {
      list-style: none;
  }

  Footer > div > section > nav > ul > li > a { 
    text-decoration: none;
    color: white;
      
}

#footercontacts p {
    color: darkcyan;

    
}


#footersitemap {
    grid-area: sitemap;
}
#footerfiles {
    grid-area: files;
}

#footercontacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-area: contact;
}

#footercontacts h2 {
    color: darkcyan;
}

#footercontacts a {
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
}

#social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 50px;
    width: 50px;
    padding-bottom: 80px;
}

#social img {
    padding: 0px 5px;
}

#rights {
   background-color: thistle;
    margin-right: auto;
    grid-area: rights;
}

footer > div > #rights > p {
    text-align: center;
    color: darkcyan;
}